name: Deploy
on:
  push:
    branches: [deno-edge]
  pull_request:
    branches: [deno-edge]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install step
        run: "deno install --allow-import"

      - name: Build step
        run: "deno task -f core build:wasm"

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "okikiojo-bundlejs-85"
          entrypoint: "edge/mod.ts"
          root: "."
